.resource_newtopo_icon_16x16_deviceview{background-image:url(icons/resource/security/icon/16x16/deviceview.png)!important;}
.super_user_icon{background-image:url(icons/resource/security/icon/16x16/user-green-icon_2.png)!important;}
.other_user_login_menu{background-image:url(icons/resource/security/icon/16x16/user-blue-icon.png)!important;}
.system_super_users_menu{background-image:url(icons/resource/security/icon/16x16/users-2-icon_2.png)!important;}
.system_users_menu{background-image:url(icons/resource/security/icon/16x16/users-2-icon.png)!important;}
.resource_icon_16x16_deviceview{background-image:url(icons/resource/security/icon/16x16/page-gear-icon.png)!important;}
.resource_icon_16x16_alarmtypemgt{background-image:url(icons/resource/security/icon/16x16/page-gear-icon.png)!important;}
.login_user_icon{background-image:url(icons/resource/security/icon/16x16/user-male-white-green-icon.png)!important;}
.security_gear{background-image:url(icons/resource/security/icon/16x16/process-icon.png)!important;}
.security_gear_selected{background-image:url(icons/resource/security/icon/16x16/process-accept-icon.png)!important;}
.security_folder{background-image:url(icons/resource/security/icon/16x16/folder_wrench.png)!important;}
.security_folder_selected{background-image:url(icons/resource/security/icon/16x16/folder_wrench_selected.png)!important;}
.resource_icon_16x16_alarmtypemgt_0{background-image:url(icons/resource/security/icon/16x16/page-icon.png)!important;}
.resource_security_icon_16x16_all{background-image:url(icons/resource/security/icon/16x16/page-copy-icon.png)!important;}
