
// ================ copy from extjs6 examples/admin-dashboard ===============

$panel-navigation-background-color: #32404e;
$panel-navigation-item-line-height: 64px;
$panel-navigation-item-text-color: #ADB3B8;

$progress-bar-background-color: #458fd2;

//Form and Toolbar Button UI colors

$color-blue: #167abc;
$color-soft-cyan: #03b4d5;
$color-soft-blue: #2eadf5;
$color-soft-green: #9cc96b;
$color-soft-orange: #ffc107;
$color-soft-red: #e44959;
$color-soft-purple: #925e8b;
$color-gray: #949495;
$color-green: #16b603;

$chart-icon-background-color: #f1f1f1;

$grid-item-edit-btn-color: #e9e9e9;
$grid-item-close-btn-color: #fc8999;
$grid-item-ban-btn-color: #ffc000;
$legend-research: #6aa5db;
$legend-marketing: #ee929c;

$force-background-color: #56B750;

//----------------------------------------------------
// Wizards

$wizard-primary-background-color: #579ddb;
$wizard-button-background-color: #579ddb;

$wizard-two-primary-background-color: #986291;
$wizard-two-button-background-color: #925e8b;

$wizard-three-primary-background-color: #9cc96b;
$wizard-three-button-background-color: #9cc96b;


$dialog-login-background-color: #83c748;
$create-account-background-color: #a1a1a2;
$dialog-trigger-color: #e5e5e5;


$circle-border-radius:50%;
$base-border-color: #ddd;
$lightest-color:#fff;
$font-weight: 400;
$font-weight-bold: 500;

$accordion-header-background-color: $lightest-color;
$accordion-header-color: #333;

$social-facebook-btn-background: #167abc;
$social-twitter-btn-background: #03b4d5;
$social-google-plus-btn-background: #e44959;
$social-envelope-btn-background: #7754aa; 

$single-mail-border-color: #eee;
$single-mail-save-button-color: #9da6a3;
$single-mail-send-button-color: #56B750;

$default-menu-item-color: #858585;
$online-menu-item-color: #86c747;
$offline-menu-item-color: #9e9f9f;
$menu-item-focus-color: #88bf4c;

$active-heart-icon-color: #facc6e;
$inactive-heart-icon-color: #b2b2b2;

$blank-page-background-color: #ebebeb;
$blank-page-color :#cacaca;

$FAQ-sub-header-color: #333;

$FAQ-tip-list-color-1: #56b650;
$FAQ-tip-list-color-2: #ffc037;
$FAQ-tip-list-color-3: #e55149;
$FAQ-tip-list-color-4: #a97fe3;

$like-comment-btn-background-color: #f4f4f4;
$like-comment-btn-color: #979797;
$article-comment-color: #eee;

$widget-first-container-background: #468fd3;
$widget-second-container-background: #8dc153;
$widget-third-container-background: #607d8b;
$follow-button-color : #82c748;
$follower-toolbar-background: #fafafa;

$sale-container-color: #458fd2;
$message-container-color: #4caf50;
$code-container-color: #9c27b0;
$user-container-color: #e91e63;
$server-container-color: #ffc107;
$file-container-color: #673ab7;
