.inventory_tree_icon_01 {background-image:url(icons/resource/icon/16x16/raisecomOnline.gif)!important;}
.inventory_tree_icon_03 {background-image:url(icons/resource/icon/16x16/logical.gif)!important;}
.inventory_tree_icon_0301 {background-image:url(icons/resource/icon/16x16/topo.gif)!important;}
.inventory_tree_icon_0302 {background-image:url(icons/resource/icon/16x16/vlan.gif)!important;}
.inventory_tree_icon_04 {background-image:url(icons/resource/icon/16x16/resourceTypeMgt.gif)!important;}
.inventory_tree_icon_0401 {background-image:url(icons/resource/icon/16x16/webResource.gif)!important;}
.inventory_tree_icon_040101 {background-image:url(icons/resource/icon/16x16/webResource.gif)!important;}
.inventory_tree_icon_040102 {background-image:url(icons/resource/icon/16x16/webResource.gif)!important;}
.inventory_tree_icon_040103 {background-image:url(icons/resource/icon/16x16/resourceTypeMgt.gif)!important;}
.inventory_tree_icon_040104 {background-image:url(icons/resource/icon/16x16/resourceTypeMgt.gif)!important;}
.inventory_tree_icon_040105 {background-image:url(icons/resource/icon/16x16/resourceTypeMgt.gif)!important;}
.inventory_tree_icon_040106 {background-image:url(icons/resource/icon/16x16/resourceTypeMgt.gif)!important;}
.inventory_tree_icon_040107 {background-image:url(icons/resource/icon/16x16/resourceTypeMgt.gif)!important;}
.inventory_tree_icon_040108 {background-image:url(icons/resource/icon/16x16/resourceTypeMgt.gif)!important;}
.inventory_tree_icon_0402 {background-image:url(icons/resource/icon/16x16/resourceTypeMgt.gif)!important;}
.inventory_tree_icon_040201 {background-image:url(icons/resource/icon/16x16/resourceTypeMgt.gif)!important;}
.inventory_tree_icon_040202 {background-image:url(icons/resource/icon/16x16/resourceTypeMgt.gif)!important;}
.inventory_tree_icon_0101 {background-image:url(icons/resource/icon/16x16/raisecomOnline.gif)!important;}
.inventory_tree_icon_0102 {background-image:url(icons/resource/icon/16x16/addressbook.gif)!important;}
.inventory_tree_icon_02 {background-image:url(icons/resource/icon/16x16/deviceview.gif)!important;}
.inventory_tree_icon_0201 {background-image:url(icons/resource/icon/16x16/rack.gif)!important;}
.inventory_tree_icon_0202 {background-image:url(icons/resource/icon/16x16/ne1.gif)!important;}

.inventory_tree_icon_0203 {background-image:url(icons/resource/icon/16x16/chassis.png)!important;}
.inventory_tree_icon_0204 {background-image:url(icons/resource/icon/16x16/card.png)!important;}
.inventory_tree_icon_0205 {background-image:url(icons/resource/icon/16x16/userdevice.png)!important;}

.inventory_tree_icon_0206 {background-image:url(icons/resource/icon/16x16/port.gif)!important;}
.inventory_tree_icon_0207 {background-image:url(icons/resource/icon/16x16/ne.gif)!important;}
.inventory_tree_icon_0209 {background-image:url(icons/resource/icon/16x16/cable.gif)!important;}
.inventory_tree_icon_0210 {background-image:url(icons/resource/icon/16x16/slotMgt.gif)!important;}

.inventory_tree_icon_0211 {background-image:url(icons/resource/icon/16x16/card_l0.png)!important;}
.inventory_tree_icon_0212 {background-image:url(icons/resource/icon/16x16/device_l0.png)!important;}
.inventory_tree_icon_0213 {background-image:url(icons/resource/icon/16x16/device_l0.png)!important;}
.inventory_tree_icon_0214 {background-image:url(icons/resource/icon/16x16/device_l0.png)!important;}

.inventory_tree_icon_020601 {background-image:url(icons/resource/injar/E1_PORT.png)!important;}
.inventory_tree_icon_020602 {background-image:url(icons/resource/injar/ETH_PORT.png)!important;}
.inventory_tree_icon_020603 {background-image:url(icons/resource/injar/PDH_PORT.png)!important;}
.inventory_tree_icon_020604 {background-image:url(icons/resource/injar/SDH_PORT.png)!important;}
.inventory_tree_icon_020605 {background-image:url(icons/resource/injar/V35_PORT.png)!important;}
.inventory_tree_icon_020606 {background-image:url(icons/resource/injar/PCM_SOUND_PORT.png)!important;}
.inventory_tree_icon_020607 {background-image:url(icons/resource/injar/VoIP_SOUND_PORT.png)!important;}
.inventory_tree_icon_020608 {background-image:url(icons/resource/injar/SERIAL_PORT.png)!important;}
.inventory_tree_icon_020609 {background-image:url(icons/resource/injar/EPON_PORT.png)!important;}
.inventory_tree_icon_020610 {background-image:url(icons/resource/injar/OTHER_PORT.png)!important;}
.inventory_tree_icon_020611 {background-image:url(icons/resource/injar/E1_PORT.png)!important;}

.inventory_tree_icon_020612 {background-image:url(icons/resource/injar/portAll.gif)!important;}
.inventory_tree_icon_020613 {background-image:url(icons/resource/injar/cable.gif)!important;}



